html, body{
    box-sizing: border-box;
    font-family: "TT Lakes";
    font-size: 14px;
    line-height: 143%;
    font-weight: 400;
}
*, *::after, *::before{
    box-sizing: inherit;
}
ul, ol, li, p, body {
    padding: 0;
    margin: 0;
}
button{
    border: none;
}
button:hover, label:hover{
    cursor: pointer;
}