body{
    padding-left: 24px;
}
h1{
    margin-bottom: 40px;
}
.cards{
    flex-wrap: wrap;
}
.cards::after{
    display: none;
}
.cards--hidden{
    max-height: 176px;
}

.card{
    margin-right: 24px;
}

.show-more{
    display: block;
    font-weight: 500;
    margin-top: 8px;
}
.show-more::before{
    content: "";
    display: inline-block;
    height: 1em;
    width: 1em;
    background: url(../images/icon.svg) center no-repeat;
    margin-right: 16px;
    vertical-align: middle;
}

.show-more:focus, .show-more:hover, .show-more:active
{
    outline-color: aqua;
}

.show-more--hide::before{
    transform: rotate(180deg);
}