.h2-repair{
    padding-left: 24px;
    margin-bottom: 24px;
}
.swiper-pagination, .swiper::after{
    display: none;
}
.swiper-wrapper{
    flex-wrap: wrap;
}
.hidden{
    max-height: 176px !important;
    overflow: hidden;
}
.swiper{    
    position: static;
    display: block;
    width: 100%;
    height: max-content;    
    margin-left: 24px;
    margin-right: 24px;
}
.swiper-slide{
    width: 240px !important;
    height: 74px !important;
    margin-bottom: 16px;
}
.show-more{
    display: block;
    font-weight: 500;
    margin-top: 8px;
    border: none;
}
.show-more::before{
    content: "";
    display: inline-block;
    height: 1em;
    width: 1em;
    background: url(../images/icon.svg) center no-repeat;
    margin-right: 16px;
    margin-left: 16px;
    vertical-align: middle;
}
.show-more--hide::before{
    transform: rotate(180deg);
}